<div class="container">
    <h1 class="text-center">-編輯醫院資訊-</h1>
    <form action="" style="text-align:center;">
        <div class="row">
            <div class="col-3 border" style="text-align:right;">
               <label for="HospitalName" class="form-label">醫院名稱：</label>
            </div>
            <div class="col border text-left">
                <input class="form-control" id="HospitalName" value="{{ Hospital_Information.HospitalName }}">
            </div>
        </div>
        <div class="row">
            <div class="col-3 border" style="text-align:right;">
               <label for="HospitalAddress" class="form-label">醫院地址：</label>
            </div>
            <div class="col border text-left">
                <input class="form-control" id="HospitalAddress" value="{{ Hospital_Information.HospitalAddress }}">
            </div>
        </div>
        <div class="row">
            <div class="col-3 border" style="text-align:right;">
               <label for="Telephone" class="form-label">醫院電話：</label>
            </div>
            <div class="col border text-left">
                <input class="form-control" id="Telephone" value="{{ Hospital_Information.Telephone }}">
            </div>
        </div>
        <div class="row">
            <div class="col-3 border" style="text-align:right;">
               <label for="URL" class="form-label">醫院網址：</label>
            </div>
            <div class="col border text-left">
                <input class="form-control" id="URL" value="{{ Hospital_Information.URL }}">
            </div>
        </div>
        <div class="row">
            <div class="col-3 border" style="text-align:right;">
               <label for="Longitude" class="form-label">經度：</label>
            </div>
            <div class="col border text-left">
                <input class="form-control" id="Longitude" value="{{ Hospital_Information.Longitude }}">
            </div>
        </div>
        <div class="row">
            <div class="col-3 border" style="text-align:right;">
               <label for="Latitude" class="form-label">緯度：</label>
            </div>
            <div class="col border text-left">
                <input class="form-control" id="Latitude" value="{{ Hospital_Information.Latitude }}">
            </div>
        </div>
        <br>
        <button class="btn btn-sm btn-success" type="button" onclick="push({{ Hospital_Information.Id }})">確定</button>
        <button class="btn btn-sm btn-secondary" type="button" onclick="$.colorbox.close()" >取消</button>
    </form>
</div>
